.mycontainer{
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: url("../images/airport.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hide{
    display: none;
}